@charset "utf-8";


*{
    
    height: auto;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html, body {
/*    width: 100%;*/
    height: 100%;
    font-size: 108%;
    line-height: 187%;
    background-image: url(../images/bg.png);
}

.header  {
    height: 25%;
    position: relative; 
   }

.menu{ 
    position: absolute;
    width: 1150px;
    height: 80px;
    background:   url(../images/head.png);
    border-radius:30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    margin-top: 5%;
    margin-left: 4%;
}
.menu img { /*картинка с лого*/
    position: absolute;
    border-radius: 30px 0px 0px 30px ;
    top: 0%;
    left: 0%;
    width: 245px;
    height: 80px;
}
/* расположение главной тем и о нас */
.menu ul{
    float:left;
    margin-left: 300px;
    margin-top: 20px;
    width: 600px;
}

.header .menu ul li{
    display: inline-block; 
    padding: 10px 20px;
}

.header .menu ul li a{ 

    font-weight: bold;
    font-size: 180%;
    color: darkred;
    text-shadow: 0 2% 0 #fffbfb;
    cursor: pointer;

}

.menu ul li a:hover{       /*выделение заголовков*/

    background: rgba(245, 203, 125, 0.65);
    border-radius: 11px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);  
}


.menu ul li.active {  /*выделение - на какой вкладке*/
    
    font-weight: bold;
    padding: 1% 2% 1% 2%;
    background: rgba(245, 203, 125, 0.65);
    color: darkred;
    border-radius: 11px;
    text-decoration: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4); 
    font-size: 180%;
    text-shadow: 0 2% 0 #fffbfb;
    cursor: pointer; 
}

 .header .search {
    float:right;
    position: relative;
    margin-right: 9%;
    margin-top: 6%;
}

  .search img { /*картинка с лупой*/
    position: absolute;
    left: 80%;
    top: 22%;
}
     
.search form input{
 
    padding: 4px 32px 4px 15px;
    width: 170px; /*длина поля ввода*/
    border-radius: 5px;
    color: darkred;
    font-weight: 600;/*жирный текст*/
    box-shadow: 1px 1px 0px #712407, 0px 0px 8px rgba(0, 0, 0, 0.41) inset;  
}


.header .reg form {
    position: relative;
    float:left;
    top: 30px;
    left: 50px;
}

.reg form a {
    color: white;
}

.button{
    color: white;
}

.content-bg{
 overflow-y:auto;
 width: 65%;
 height: 100%;
 margin: 1% 1% 1% 18%; /* Выравнивание по центру */
 background: rgba(198, 101, 3, 0.67);
}

.content-bg .article p strong { /*заголовки в тексте */  
    color: #fff;
    font-weight: 600;
    font-size: 250%;
    text-shadow: 3px 1px 1px rgb(36, 0, 0);
    margin-left: 35%;
   
}

.content-bg .article li a {
    margin-left: 35%;
    color: darkred;
    font-weight: 600;/*жирный текст*/
    font-size: 200%; 
    text-decoration: none;
       
}

.article  li a:hover{
    color: #ffffff;
    text-decoration: none;
}

 .scroll pre {

    margin-left: 5%;
    border-radius: 0 0 3px 3px;
    max-height: 480px;
    max-width: 90%; 
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
}

pre {

    color: #333;
    border: 1px solid #e9e8e8;
    border-radius: 3px;
    padding: 6px 10px;
    line-height: 19px;
    font-size: .94rem;
}

 table {
    width: 100%; /* Ширина таблицы */
    height: 90%;
    border-color: #ffffff;
     
   }

th {
    background: #825a00; /* Цвет фона */
    color: #fffff0; /* Цвет текста */
    height: 10%;
    width: 50%;
   }

td,th {
    padding: 4px; /* Поля вокруг содержимого ячеек */
   }

.footer footer{
     background: url(../images/head1.png)  ;
}

.footer footer p {
    color: #842100;  
}

h2 {
    font-size: 30px;
    margin-left: 40% ;
    margin-bottom: 5%;
    color: #712407;
}

.form-horizontal {
    padding: 5% 10% 5% 35%;
}

input {
    background: rgba(250, 250, 250, 0.99);
    border-radius: 5px;
    box-shadow: 1px 1px 0px #712407, 0px 0px 8px rgba(0, 0, 0, 0.41) inset; 
}


.send{
    border: none;
    padding: 1% 1% 1% 25%;      
}

.fieldset {
  border: none;
  padding: 0;
  margin-top: 0%;
}

label {
  width: 80px;
  font-size: 14px;
  display: inline-block;
}

form input {
  border: 1px solid #C1C1C1;
  padding: 3px 5px;
  margin: 7px;
/*  font-weight: bolder;*/
}
.mobile-button {
  border: medium none;
  background-image: none; 
  background: transparent;
/*  float: left;*/
  background-color: transparent;
}


form input:valid + span {
  content: url(http://htmlbook.ru/example/images/ok.png);
}

form input:invalid + span {
  content: url(http://www.clker.com/cliparts/4/3/1/f/1195436930767206781not_ok_mark_h_kon_l_vdal_01.svg);
  height: 15px;
  vertical-align: middle;
  margin-left: -3px;
}
.sum {
  float: left;
  margin-bottom: 5%;
  margin-left: 3%;

}
.sum input {
  padding: 2px 15px;
  border-radius: 15px;
  background: linear-gradient(#e09200, #8f1b00);
  color: white;
}

textarea {
    max-width: 700px;
    max-height: 200px;
}

.btn-group {
    position: absolute;
    display: none;
    top: 10px;
    left: 660px;        
    position: relative;
    display: inline-block;
}

.main{
    margin: 5% 5%;
}

.btn-group  img{
    width: 40px;
    border-radius: 30px;
}

.btn-group  a {
   color:  aliceblue;
}




